/* Zoom'u ve yatay kaymayı tamamen engeller */
html, body {
  touch-action: pan-x pan-y; /* Sadece kaydırmaya izin ver, zoom'a değil */
  overflow-x: hidden; /* Sağa sola taşmayı engelle */
  -webkit-text-size-adjust: 100%; /* iPhone yazı büyütmesini engelle */
}

@tailwind base;
@tailwind components;
@tailwind utilities;